{
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "releaseRules": [
                    {
                        "types": "docs",
                        "scope": "README",
                        "release": "patch"
                    },
                    {
                        "type": "refactor",
                        "scope": "(shared|core|test)",
                        "release": "patch"
                    },
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "scope": "no-release",
                        "release": false
                    }
                ]
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "angular",
                "parserOpts": {
                    "noteKeywords": [
                        "BREAKING CHANGE",
                        "BREAKING CHANGES",
                        "BREAKING"
                    ]
                },
                "writerOpts": {
                    "commitsSort": [
                        "subject",
                        "scope"
                    ]
                }
            }
        ],
        "@semantic-release/changelog",
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "package-lock.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        "@semantic-release/github"
    ]
}